body {
  	background-color: #000000;
  	color: #ffffff;
  	align-items: center;
  	justify-content: center;
}

#app {
  	font-size: x-large;
  	background-color: lightgreen;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

button {
	width: 200px;
	height: 100px;
	align-items: center;
	justify-content: center;
	left: 50%;
}

button:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}
