body {
  	background-color: #000000;
  	color: #ffffff;
  	align-items: center;
  	justify-content: center;
}

#app {
  	display: inline-block;
  	font-size: x-large;
  	background-color: lightgreen;
	width: 100%;
	height: 100%;
}

button {
	width: 200px;
	height: 100px;
}

button:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}
